body{
	text-align: center;
}
canvas {
	border: 1px solid black;

}

#joueur1{
	float: left;
	margin-left: 50px;
}
#joueur2{
	float: right;
	margin-right: 50px;
}

.victoire{
	font-size: 20px;
	/*background-color: red;*/
	padding: 20px;
}

#victoireMessage{
	position: absolute;
	top:25%;
	left: 50%;
	margin-left:-430px;
	background-color: red;
	height: 400px;
	width: 800px;
	line-height: 400px;
	font-size: 50px;
	display: none;
	
}